{%extends 'base.html'%}
{%block body_block%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>detail</title>
    <!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>
<body>

<div class="container">
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4">

            <div class="card" style="width: 18rem;">
  <img src="{{employee.profile_pic.url}}" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title"><strong>NAME : </strong>{{employee.employee_name}}</h5>
    <p class="card-text"><strong>EMPLOYEE ID : </strong>{{employee.eid}}</p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item"><STRONG>DESIGNATION : </STRONG>{{employee.designation}}</li>
    <li class="list-group-item"><STRONG>SALARY : </STRONG>{{employee.salary}}</li>
    <li class="list-group-item"><STRONG>EMAIL : </STRONG>{{employee.email}}</li>
    <li class="list-group-item"><STRONG>EXPERIENCE : </STRONG>{{employee.experience}}</li>

  </ul>
<!--  <div class="card-body">-->
<!--    <a href="#" class="card-link">{{employee.experience}}</a>-->
<!--    <a href="#" class="card-link">{{employee.eid}}</a>-->
<!--  </div>-->
</div>

        </div>
        <div class="col-4"></div>
    </div>
</div>

</body>
</html>
{%endblock%}